.tna-page-status-widget table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
}
.tna-page-status-widget table th {
    border-bottom: 1px solid #ccc;
}
.tna-page-status-widget table td {
    padding: 5px 3px;
}
.tna-page-status-widget tr.my-page {
    background-color: #ffffcc;
}