.tna-page-status-widget table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
}
.tna-page-status-widget table th {
    border-bottom: 1px solid #ccc;
}
.tna-page-status-widget table td.title {
    width: 44%;
}
.tna-page-status-widget table td {
    padding: 5px 3px;
}
.tna-page-status-widget table tr td {
    border-bottom: 1px solid #ccc;
}
.tna-page-status-widget tr.my-page {
    background-color: #ffffcc;
}
.changes-comment textarea {
    width: 100%;
}
.pending-message p {
    padding: 3px;
    background-color: #ffffcc;
    color: darkred;
    text-align: center;
}
#draft-action {
    padding: 5px 10px 10px 10px;
    text-align: right;
}